<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Connect</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/patient.css">
</head>
<body>
    <div class="patientDashboard">
        <h1 style="font-size: 10rem;">Care Connect</h1>
        <form method="post" action="/consultation"><button type="submit">Book Consultation</button></form>
        <form method="" action=""><button type="submit">Medical Records</button></form>
        <form method="" action=""><button type="submit">Prescription Reminders</button></form>
        <form method="" action=""><button type="submit">Consult Specialist</button></form>
    </div>
</body>
</html>